<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
              xsi:type="File"
              fileName="${specialfolder:folder=CommonApplicationData}\EmbeddedDebugger\Logs\LogFile.log"
              archiveFileName="${specialfolder:folder=CommonApplicationData}\EmbeddedDebugger\Logs\Archive\LogFile.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              maxArchiveFiles="60"
              concurrentWrites="true"
              keepFileOpen="true"
              layout="${longdate}|${pad:padding=2:inner=${threadid}}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=tostring}" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>